/* mobile view */

/* general settings */

.skip a {
    position: absolute;
    top: -40px;
    left: 40px;
    z-index: 200;
    color: blue;
    background-color: orange;
}

.skip a:focus {
    top: 80px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    color: #ffffff;
    z-index: 0;
    min-height: 1500px;
}

main {
    margin: 0;
    margin: 2% 5% 3% 5%;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    /* font-family: 'Lucida Sans', Times, serif; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
}

p, ul li {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

p {
    font-size: 1rem;
}

ul li {
    font-size: 3vw;;
}

#titleBar {
    display: flex;
    flex-direction: column;
}

#inverse {
    transform: scaleY(-1);
    display: inline-block;
    --gradient: linear-gradient(transparent 50%, #ffffff 90%);
    mask-image: url("../images/movieCluster.jpg");
	-webkit-mask-image: var(--gradient);
}

/* navigation Bar  */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #1f1f1f;
    padding: 0.5rem 5% 2rem 5%;
    margin: 0;
    box-shadow: 0rem 1rem 10rem 0.1rem #ffffff;
    height: 4rem;
}

title {
    height: 5rem;
    margin: 1rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 6rem;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 10rem;
}

nav a {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 2.3rem;
    width: 5rem;
    border-radius: 10rem;
    color: #1f1f1f;
    background-color: rgb(255, 255, 255, 0.9);
    text-decoration: none;
    font-family: 'Lucida Sans', Times, serif;
}

nav a:hover, nav a:focus, img:hover, img:focus, video:hover, video:focus {
    box-shadow: 0rem 0rem 1rem 0.5rem rgba(255, 255, 255, 0.75);
}

/* ========== */

/* auto slider */

.autoSlider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    transition: transform 4s ease;
}

.autoSlider img {
    height: 12rem;
    width: 8rem;
    border: 5px solid #1f1f1f;
}

/* ========== */
        
/* scroll bar */

#scrollbar {
    overflow-y: hidden;
}

#scrollbar::-webkit-scrollbar {
    background-color: hsl(0, 0%, 0%);
    height: 0.5rem;
    border-radius: 1rem;
}

#scrollbar::-webkit-scrollbar-track:vertical {
    display: none;
}

#scrollbar::-webkit-scrollbar-thumb:vertical {
    display: none;
}

#scrollbar::-webkit-scrollbar-track:horizontal {
    background-color: transparent; /* Set track background to transparent */
    border-radius: 10px;
}

#scrollbar::-webkit-scrollbar-thumb:horizontal {
    background-image: linear-gradient(to right, #a520ca, #2681cc);
    border-radius: 1rem;
}

/* ========== */

video {
    width: 100%;
    z-index: 0;
}

.genreList {
    margin-bottom: 10vh;
}

.parallax {
    /* background-attachment: fixed; */
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    /* background-size: cover; */
    color: white;
    height: 30rem;                /* Parallax effect */
    opacity: 1;
    font-size: 2rem;
    font-family: 'Lucida Sans', Times, serif;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.genreList .parallax:nth-child(2n+1) {
    justify-content: flex-start;
}

.genreList .parallax:nth-child(2n) {
    justify-content: flex-end;
}


.drama {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.9)), url("../images/Drama.jpg");
}

.romance {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.9)), url("../images/Romance.jpg");
}

.action {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.9)), url("../images/Action.jpg");
}

.comedy {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.9)), url("../images/Comedy.jpg");
}

.SciFi {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.9)), url("../images/SciFi.jpg");
}

.animation {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.9)), url("../images/Animation.jpg");
    background-position: left center;
}

#oscar {
    margin-bottom: 2rem;
}

/* ipad and laptop view */

@media screen and (min-width: 768px) {
    h2 {
        font-size: 3vh;
    }

    .parallax {
        background-attachment: fixed; /* Parallax effect */     
        background-position: center;  /* Parallax effect */
        background-repeat: no-repeat; /* Parallax effect */
        background-size: cover;       /* Parallax effect */
        color: white;
        height: 30rem;                /* Parallax effect */
        opacity: 1;
        font-size: 3vw;
        font-family: 'Lucida Sans', Times, serif;
        padding: 3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    ul li {
        font-size: 2vw;
    }

    #oscar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .videoList {
        width: 100%;
        margin: auto;
    }
}

@media screen and (min-width: 1200px) {
    ul li {
        font-size: 1.5rem;
    }

    .videoList {
        width: 70%;
        margin: auto;
    }
}

/* ========== */

/* animation */

@keyframes Appear {
    0% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
    }
}

h1, nav, main {
    animation: Appear 0.5s linear 0s 1;
}

@media (prefers-reduced-motion: reduced) {
    h1, nav, main {
        animation: none;
    }
}

/* ========== */